
<div style="direction: rtl;font-family: 'vazirmatn','B Yekan','B Koodak','B Titr' ,'Segoe UI','Tahoma','Arial';margin: 20px auto ;text-align: center">
    <div style="padding: 20px 100px;background-color: #ffe6bd;border-radius: 24px;border: 1px solid orange">
        <h1 style="color: black;">{{ user.get_username }} عزیز </h1>

        <p style="color: black; font-size: 20px;">شما درخواست تغییر پسورد را برای ایمیل زیر انجام داده اید</p>
        <h3><span style="color: black">ایمیل شما:</span>{{ email }}</h3>

        <p style="color: black; font-size: 24px;">لینک تغییر پسورد:</p>
        {{ protocol }}://{{ domain }}{% url "social:password_reset_confirm" uid token %}
        <p style="font-size: 18px;color: black">اگر شما این درخواست را نکرده اید این پیام را نادیده بگیرید</p>
    </div>



</div>
