
<body style=" font-family: 'vazirmatn','B Koodak' ,'B Titr','Segoe UI', Tahoma, Arial, sans-serif;direction: rtl; color: black ;padding: 20px;border: 1px solid orange;border-radius:20px ">
    <div style="padding: 20px;border-radius: 12px ;border: 2px solid #ffa800;background-color:#ffe6bd; " >
        <h1 style="color:orange;">موضوع : {{ subject }}</h1>
        <h2 style="color: black">نام : {{ first_name }}</h2>
        <h2 style="color: black">نام خانوادگی : {{ last_name }}</h2>
        <h2 >ایمیل : {{ email }}</h2>
    </div>

    <p style="font-size: 20px; ">
        پیام:
        {{ message }}
    </p>
</body>
