*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Vazir-Regular";
    src: url("../fonts/Vazirmatn-RD-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Vazir-Bold";
    src: url("../fonts/Vazirmatn-RD-Bold.woff2") format("woff2");
}

body{
    font-family: "Vazir-Regular", serif;
}
a{
    text-decoration: none;
    color: black;
}
input , textarea,button,select {
    font-family: inherit;
}
