/* From Uiverse.io by marc_remus */ 
*{
    font-family: "Vazir-Regular";
    box-sizing: border-box;
    margin: 0;
    
}
input:autofill{
  background: none !important;
  
}
input:-internal-autofill-selected{
  background: none !important;
  background-color: #33333360;
}
.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/back.png");
    background-position: center;
    background-size: cover;
    
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #ffffff44;
  color: #212121;
  border: 1px solid #44a2ff;
  backdrop-filter: blur(10px);

}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #0D47A1;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #0D47A1;
}

.message,
.signin {
  font-size: 14.5px;
  color: #333;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline green;
}

.signin a {
  color: #0D47A1;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #33333360;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 0, 0);
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input + span {
  top: 12.5px;
  font-size: 0.9em;
  color: white;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #0D47A1;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #0d48a1;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: rgba(245, 245, 245, 0.409);
  border: 1px solid #0D47A1;
  transition: all 300ms ease-in;
}

.submit:hover {
  background-color: #0d48a171;
  color: whitesmoke;
}
input[type="email"]{
    direction: ltr;
    text-align: right;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.errorlist{
  list-style-type: none;
  padding: 0;
  color: red;
}